[submodule "c/deps/ckb-c-stdlib"]
	path = deps/ckb-c-stdlib
	url = https://github.com/nervosnetwork/ckb-c-stdlib
[submodule "deps/simulator"]
	path = deps/simulator
	url = https://github.com/nervosnetwork/ckb-x64-simulator
